<% provide(:body_class, 'posts-index') %>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/users/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item active">Записи</li>
  </ol>
  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th >Название</th>
            <th >Категория</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Названия</th>
            <th >Категория</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </tfoot>
          <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post.title, post_path(post), target: '_blank' %><br/>
              </td>
              <td>
                --
              </td>
              <td>
                <%= link_to "Редактировать", edit_users_post_path(post) %> |
                <%= link_to "Удалить", users_post_path(post), method: :delete,
                            data: { confirm: "Удалить запись '#{  post.title}' ?" } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Добавить", new_users_post_path, class: 'btn_1 red small' %></li>
    </ul>
  </div>
</div>