<% provide(:body_class, 'dashboard') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">TestApp</a>
    </li>
    <li class="breadcrumb-item active">Консоль</li>
  </ol>
  <h2></h2>
  <div class="box_general padding_bottom">
    <div class="header_box version_2">
      <h2>Консоль</h2>
    </div>
    <h3>Здесь отображается актуальная информация о проекте</h3>
    <p>Доступ к аккаунту администратора: user@test.ru | 12345</p>

  </div>
</div>