<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Copyright © TestApp <%= Time.new.year == 2019 ? Time.new.year : "2019 - #{Time.new.year}" %></small>
    </div>
  </div>
</footer>