<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/users/dashboard">
      <i class="fa fa-fw fa-tachometer"></i>
      <span class="nav-link-text">Консоль</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/users/posts">
      <i class="fa fa-fw fa-rss"></i>
      <span class="nav-link-text">Записи</span>
    </a>
  </li>
</ul>