//= require user/template/bootstrap.min
//= require user/template/dataTables.bootstrap4
//= require user/template/admin
//= require user/template/font-awesome
//= require user/template/custom
//= require user/template/selectize
//= require user/template/selectize.default

//= require vendor/all_styles
// require_tree ./user/pages


// фиксированый блок кнопок внизу страницы
.buttons_container {
  position: fixed;
  right: 5px;
  bottom: 20px;
  width: min-content;
  height: 50px;
  text-align: center;
  color: white;
  line-height: 45px;
  z-index: 99;
  ul {
    width: max-content;
    float: left;
    li {
      float: left;
      display: inline-block;
      a {
        margin-right: 10px;
      }
    }
  }
}
