<!DOCTYPE html>
<html>
<head>
  <title>TestApp - общедоступная часть</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'site', media: 'all' %>
</head>

<body>
<%= yield %>
<%= javascript_include_tag 'site' %>
</body>
</html>
